<div class="top">
<h1>Edit Player</h1>
</div>

<div class="center">
<%= form_for @player do |f| %>
  <p id="size"><%= f.label "Player Name:" %></p>
  <p><%= f.text_field ("name") %></p><br>
  
  <p id="size"><%= f.label "Player Number:" %></p>
  <p><%= f.number_field ("number") %></p><br>
  
  <p id="size"><%= f.label "Player Position:" %></p>
  <p><%= f.select("position_ids", options_for_select([['QB', 1], ['RB', 2], ['WR', 3], ['TE', 4], ['FB', 5], ['DE', 6], ['OLB', 7],            ['MLB', 8], ['CB', 9], ['S', 10]]), {}, {:multiple => true, :size => 10}) %></p><br>
  
  <p id="size"><%= f.label "Health Status:" %></p>
  <p><%= f.select("status_id", options_for_select([['Healthy', 1], ['Probable', 2], ['Doubtful', 3], ['Injured Reserve', 4]])) %></p><br>
  
  <p id="submit"><%= f.submit %></p><br> 
<% end %>
</div>
  
<p id="home"> <%= link_to("Return To Homepage", root_path)%> </p>  
