<div class="top">
<h1>All Players</h1>
</div>

<% @players.each do |p| %>
  <p id="click"><a href="/players/<%= p.id %>"><%= p.name %> #<%= p.number %>, <%= p.positions_comma_separated %>, <%= p.status.health    %></a></p>
<% end %>


<p id="home"> <%= link_to("Return To Homepage", home_path)%> </p> 