<div class="top">
<h1>Add Player</h1>
</div>

<%= form_for @player do |f| %>
  <%= f.label "Player Name:" %>
  <%= f.text_field ("name") %><br>
  
  <%= f.label "Player Number:" %>
  <%= f.number_field ("number") %><br>
  
  <%= f.label "Player Position:" %>
  <%= f.select("position_ids", options_for_select([['QB', 1], ['RB', 2], ['WR', 3], ['TE', 4], ['FB', 5], ['DE', 6], ['OLB', 7],            ['MLB', 8], ['CB', 9], ['S', 10]]), {}, {:multiple => true, :size => 10}) %><br>
  
  <%= f.label "Health Status:" %>
  <%= f.select("status_id", options_for_select([['Healthy', 1], ['Probable', 2], ['Doubtful', 3], ['Injured Reserve', 4]])) %><br>
  
  <%= f.submit %> 
<% end %>
  
<p> <%= link_to("Return To Homepage", home_path)%> </p> 