<div class="top">
<h1>Find Player</h1>
</div>

<p id="click"><%= @player.name %>, <%= @player.number %>, <%= @player.positions_comma_separated %>, <%= @player.status.health %></p>

<p id="edit"> <%= link_to("Edit Player", edit_player_path)%> </p>  

<p id="delete"> <%= link_to("Delete Player", player_path, method: :delete, data: { confirm: "Are you sure?" })%> </p> 
  
<p id="home"> <%= link_to("Return To Homepage", home_path)%> </p>  
